* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'open_sansregular', sans-serif;
  font-size: 14px;
  color: $black;
}
.app {
  background-color: $gray;
  min-height: 100vh;
  padding: 40px 0 60px;
}
.container {
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 15px;
}
.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

// Buttons
.btn-makeOffer {
  cursor: pointer;
  color: $white;
  background-color: $green;
  border: none;
  border-radius: $bordeRadius;
  width: 100%;
  padding: 10px 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
.btn-makeOffer:disabled,
.btn-makeOffer[disabled]{
  background-color: $grayIcon;
  color: $black;
  cursor: not-allowed;
}

// Helpers
.grayscale {
  @include grayscale_element(100%);
  transition: all 200ms ease-in-out;

}