// COLORS
$white: #fff;
$gray: #ebebeb;
$grayBorder: #e4e4e4;
$grayIcon: #ababab;
$red: #ff6d4a;
$green: #3eb871;
$black: #323232;
$blackTransparent: rgba(0,0,0,0.4);

// Utils
$bordeRadius: 5px;

// Breakpoints
$desktop: 1400px;
$laptop: 980px;
$tablet: 768px;
$mobile: 480px;

